<!DOCTYPE html>
<html>
<head>
  <title>Ideabox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:log_out] %>
    <div id="log_out">
      <%= flash[:log_out] %>
    </div>
  <% elsif flash[:errors] %>
    <%= flash[:errors] %>
  <% end %>

  <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
  <% end %>


<%= yield %>

</body>
</html>
